<div *ngIf="!isLoading">
    <table style="background-color: aliceblue; width: 100%">
        <tr class="entete">
            <td>Commande</td>
            <td>Nom</td>
            <td>Ingrédients</td>
            <td>Prix</td>
        </tr>
        <tbody *ngFor="let pizza of historiquePizzas" class="col">
            <tr>
                <!-- Date avec le pipe personnalisé -->
                <td>{{pizza.date | transformTime}}</td>
                <td>{{pizza.nom}}</td>
                <td>
                    <span>Base {{pizza.base | titlecase}}</span>
                    <span *ngIf="pizza.miel">, Miel </span>
                    <span *ngIf="pizza.anchois">, Anchois</span>
                    <span *ngIf="pizza.jambon">, Jambon </span>
                    <span *ngIf="pizza.magret">, Magret</span>
                </td>
                <td>{{pizza.prix | currency: 'EUR'}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Spinner d'attente -->
<div *ngIf="!isError && isLoading">
    <app-spinner></app-spinner>
</div>

<!-- S'il y a une erreur de chargement -->
<div *ngIf="isError">
    <div class="card-bg">
        Erreur lors de l'affichage de l'historique.
        <input type="submit" class="btn-commander" value="Retour à l'accueil" routerLink="/">
    </div>
</div>