<div class="card-bg"
     style="overflow: hidden;"
     *ngIf="!commandDone && !isLoadingCommand">

    <h1>Personnalise ta pizza !</h1>
    <p>Choisis au moins un ingrédient, une base et une épaisseur de pâte</p>
    <hr>

    <form #formulaire="ngForm" >
        <div class="row">

            <!-- Bases -->
            <div class="col-3">
                <h4 class="mt-3">Base</h4>
                <span *ngFor="let base of pizza.lesBases">
                    <div class="mt-2 form-check"> 
                        <input class="form-check-input" type="radio" name="basePizza" [(ngModel)]="pizza.base"
                            value="{{base.nom}}"  id="flexCheckDefault{{base.nom}}"/>
                        <label class="form-check-label" for="flexCheckDefault{{base.nom}}">
                            {{base.nom | titlecase}} - {{base.prix | currency: 'EUR'}}
                        </label>
                    </div>
                </span>
            </div>

            <!-- Ingrédients -->
            <div class="col-3">
                <h4 class="mt-3">Ingrédients</h4>
                
                <!-- Anchois -->
                <div class="mt-2 form-check"> 
                    <input class="form-check-input" type="checkbox" name="anchois"
                    [(ngModel)]="pizza.anchois" id="flexCheckDefaultAnchois"/>
                    <label class="form-check-label" for="flexCheckDefaultAnchois">
                        Anchois - {{pizza.Ingredients.ANCHOIS | currency: 'EUR'}}
                    </label>
                </div>

                <!-- Jambon -->
                <div class="mt-2 form-check"> 
                    <input class="form-check-input" type="checkbox" name="jambon"
                    [(ngModel)]="pizza.jambon" id="flexCheckDefaultJambon"/>
                    <label class="form-check-label" for="flexCheckDefaultJambon">
                        Jambon - {{pizza.Ingredients.JAMBON | currency: 'EUR'}}
                    </label>
                </div>

                <!-- Miel -->
                <div class="mt-2 form-check"> 
                    <input class="form-check-input" type="checkbox" name="miel"
                    [(ngModel)]="pizza.miel" id="flexCheckDefaultMiel"/>
                    <label class="form-check-label" for="flexCheckDefaultMiel">
                        Miel - {{pizza.Ingredients.MIEL | currency: 'EUR'}}
                    </label>
                </div>

                <!-- Magret -->
                <div class="mt-2 form-check"> 
                    <input class="form-check-input" type="checkbox" name="Magret"
                    [(ngModel)]="pizza.magret" id="flexCheckDefaultMagret"/>
                    <label class="form-check-label" for="flexCheckDefaultMagret">
                        Magret - {{pizza.Ingredients.MAGRET | currency: 'EUR'}}
                    </label>
                </div>
            </div>

            <!-- Pate -->
            <div class="col-3">
                <h4 class="mt-3">Pâte</h4>
                <span *ngFor="let pate of pizza.lesPates">
                    <div class="mt-2 form-check"> 
                        <input class="form-check-input" type="radio" name="patePizza" [(ngModel)]="pizza.pate"
                            value="{{pate}}" id="flexCheckDefault{{pate}}"/>
                        <label class="form-check-label" for="flexCheckDefault{{pate}}">
                            {{pate | titlecase}}
                        </label>
                    </div>
                </span>
            </div>
           
            <!--  Image -->
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <img src="/assets/images/pizza-a-composer.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr maxwidth="180" style="margin-top: 30px;">
                        <div class="col">
                            <!-- Prix -->
                            <h4>Prix : {{pizza.getPrix() | currency: 'EUR'}}</h4>
                            <input class="btn-commander" type="submit" [disabled]="!getCommandeValider()" value="Confirmer" (click)="commanderPizza(pizza)"/>
                        </div>
                    </div>
                </div>
            </div>
           
           
        </div>
    </form>
</div>

<!-- Spinner d'attente -->
<div *ngIf="!isErrorCommand && isLoadingCommand">
    <app-spinner></app-spinner>
</div>

<!-- Si la commande échoue -->
<div *ngIf="isErrorCommand">
    <div class="card-bg">
        Erreur lors de la commande de votre pizza.
        <input type="submit" class="btn-commander" value="Retour au formulaire" (click)="retourFormulaire()">
    </div>
</div>

<!-- Si la commande est valide -->
<div *ngIf="commandDone">
    <app-confirmation-commande [reponseCommande]="reponseCommande" [pizza]="pizza" ></app-confirmation-commande>
</div>