<!-- Si la commande n'a pas encore été effectuée -->
<div *ngIf="!commandDone && !isLoadingCommand && !isErrorCommand">
    <!-- Spinner de chargement -->
    <div *ngIf="isLoading">
        <app-spinner></app-spinner>
    </div>

    <!-- Si on récupère bien les pizzas -->
    <div *ngIf="isSuccess" class="card-bg">
        <!-- Slider -->
            <a style="font-size: large;">Prix max :</a>
            <a style="margin-left: 5px; font-size: large;">{{prixMax}}</a>
            <input type="range" class="form-range" min="5" max="15" style="max-width: 500px;"
                [(ngModel)]="prixMax">
        <div class="row">
            <!-- Carte -->
            <span *ngFor="let pizza of lesPizzas" class="col-3" [style.display]="(prixMax >= pizza.prix) ? 'inline-flex' : 'none'">
                <div class="align-items-center">
                    <div class="card-body d-flex flex-column" style="height: 100%;">
                        <app-pizza-detail
                            [pizza]="pizza"
                            (onOrder)="commanderPizza($event)">
                        </app-pizza-detail>
                    </div>
                </div>
            </span>
       </div>
    </div>

    <div *ngIf="isError">
        Erreur lors de la récupération des pizzas 
    </div>
</div>

<!-- Si la commande est en cours -->
<div *ngIf="!isErrorCommand && isLoadingCommand">
    <app-spinner></app-spinner>
</div>

<!-- Problème lors de la commande -->
<div *ngIf="isErrorCommand">
    <div class="card-bg">
        Erreur lors de la commande de votre pizza.
        <input type="submit" class="btn-commander" value="Retour à la boutique" (click)="retourBoutique()">
    </div>
</div>

<!-- Commande effectuée -->
<div *ngIf="commandDone">
    <app-confirmation-commande [reponseCommande]="reponseCommande" [pizza]="pizza" ></app-confirmation-commande>
</div>



