<div>
    {{pizza.nom}}
</div>
<img width="200px" src="{{pizza.image}}"/>
<div class="mb-3">
    Compositions :<br/>

    <span *ngIf="pizza.anchois">
        Anchois<br/>
    </span>
    <span *ngIf="pizza.miel">
        Miel<br/>
    </span>
    <span *ngIf="pizza.jambon">
        Jambon<br/>
    </span>
    <span *ngIf="pizza.magret">
        Magret<br/>
    </span>
    Base : {{pizza.base | titlecase }}<br/>
    Pate : {{pizza.pate | titlecase }}<br/>
    Prix : {{pizza.prix | currency: 'EUR'}}
</div>
<div class="mt-auto" style="background-color: transparent; border: transparent;">
    <input type="submit" class="btn-commander" value="Commander" (click)="onClickCommander()">
</div>                    
