<div class="card-bg">

    <h1>Merci d'avoir commandé !</h1>
    <p>Votre numéro de commande est le {{reponseCommande.id}}</p>
    <p>Voici le récapitulatif de la pizza :</p>

   <div class="align-items-center row">
        <div class="card-bg text-start col-md-4 offset-md-4">
            <div class="card-body">
                <div class="text-center">
                    <h3>{{pizzaJson.nom}}</h3>
                    <img width="200px" src="{{pizzaJson.image}}"/>
                </div>
                <h3> Ingrédients : </h3>
                <span *ngIf="pizzaJson.miel">
                    Miel<br/>
                </span>
                <span *ngIf="pizzaJson.anchois">
                    Anchois<br/>
                </span>
                <span *ngIf="pizzaJson.jambon">
                    Jambon<br/>
                </span>
                <span *ngIf="pizzaJson.magret">
                    Magret<br/>
                </span>
                <h3>Base : {{pizzaJson.base | titlecase}} </h3>
                <h3>Pate : {{pizzaJson.pate}} </h3>
                <h3>Prix : {{pizzaJson.prix | currency: 'EUR'}} </h3>
            </div>
        </div>
    </div>
    <a class="btn-commander" routerLink="/">Retour à l'accueil</a>
    <hr>
</div>

