@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {  
    background-image: url("/assets/images/background.png");
    background-size: 100%;

    font-family: "Roboto";
}

header {
    background: rgb(248, 228, 191);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(248, 228, 191);
}

.pizza-card {
    width: 25%;
}
.card-bg {
    background: rgb(248, 228, 191);
    border-radius: 20px;
    padding: 15px
}

.card-body {
    background: white;
    border-radius: 15px;
    border: 1.5px solid;
}

.btn-commander {
    background: #E6A831;
    border-radius: 20px; 
    color: #FFF;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    outline-width: 0ch;
    border-color: transparent;
}

.btn-commander:hover:enabled {
    background: #dba030;
}

.btn-commander:disabled {
    background: #b4b2ae;
}
