<div class="container card-bg"
    *ngIf="!commandDone && !isLoadingCommand">
    <div class="row">
        <!-- Menu de navigation -->
        <div class="col-md-4"> 
            <h2>Bienvenue chez Pizza Mania !</h2>
            <!-- Personnalisation -->
            <div class="row mt-5" style="justify-content: center;">
                <a class="btn-link btn-block" routerLink="/personnaliser-pizza" >Personnalise ta pizza !</a>
            </div>
            
            <!-- Boutique -->
            <div class="row mt-5" style="justify-content: center;">
                <a class="btn-link btn-block" routerLink="/boutique-pizza" >Boutique de pizzas</a>
            </div> 
            
            <!-- Historique -->
            <div class="row mt-5" style="justify-content: center;">
                <a class="btn-link btn-block" routerLink="/historique" >Historique</a>
            </div> 
        </div>
       
        <!-- Dernière commande -->
        <div class="col-4 text-center" *ngIf="lastPizza != null">
            <h2>Votre dernière commande :</h2>
            <div class="card-body">
                <span style="font-size: 1.4em; font-weight: bold;">{{lastPizza.nom}}</span><br/>
                <img width="200px" src="{{lastPizza.image}}"/><br/>
                
                <span style="font-weight: bold;">Compositions :</span><br/>
                <span *ngIf="lastPizza.miel">
                    Miel<br/>
                </span>
                <span *ngIf="lastPizza.anchois">
                    Anchois<br/>
                </span>
                <span *ngIf="lastPizza.jambon">
                    Jambon<br/>
                </span>
                <span *ngIf="lastPizza.magret">
                    Magret<br/>
                </span>
                <span style="font-weight: bold;">Base : </span>
                {{lastPizza.base | titlecase}}<br/>
                <span style="font-weight: bold;">Pate : </span>
                {{lastPizza.pate}}<br/>
                <span style="font-weight: bold;">Prix : </span>
                {{lastPizza.prix | currency: 'EUR'}}
                <br/><br/>
                <input class="btn-commander" type="submit" value="Recommander" (click)="commanderPizza(lastPizza)"/>
            </div>
        </div>

        <!-- S'il n'y a pas de dernière commande -->
        <div class="col-4 text-center" *ngIf="lastPizza == null">
            <h2>Votre dernière commande :</h2>
            <div class="card-body">
                <img height="200px" src="/assets/images/pizzasurprise.png">
                <p>Il semble que nous n'ayez pas encore commandé de pizza chez nous !</p>
                <p style="font-size: 1.4em; font-weight: bold;">N'attendez plus !</p>
            </div>
        </div>

        <div class="col-4">
            <img src="/assets/images/pizza-accueil.png">
        </div>
    </div>
</div>

<!-- Spinner d'attente -->
<div *ngIf="!isErrorCommand && isLoadingCommand">
    <app-spinner></app-spinner>
</div>

<!-- S'il y a une erreur lors de la commande de la dernière pizza -->
<div *ngIf="isErrorCommand">
    <div class="card-bg">
        Erreur lors de la commande de votre pizza.
    
        <input type="submit" class="btn-commander" value="Retour à la boutique" (click)="retourAccueil()">
    </div>
</div>

<!-- Si la commande de la dernière pizza s'est bien passée -->
<div *ngIf="commandDone">
    <app-confirmation-commande [reponseCommande]="reponseCommande" [pizza]="pizza" ></app-confirmation-commande>
</div>