@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.btn-link {
    background: #C42D2D;
    border-radius: 20px; 
    color: #FFF;
    padding: 1rem;
    width: 65%;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto";
}

.btn-link:hover {
    color: #FFF;
    background-color: #9b2727;
} 